.App-header a {
  text-decoration: none;
}
.App-section {
  background-color: #fbfbfb;
  margin-left: 240px;
}
@media (max-width: 990px) {
  .App {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .App-section {
    margin: 0;
  }
}
